h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a, button, input, select, textarea {
    -webkit-tap-highlight-color: transparent;
}
figure {
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.button, .cta {
    display: inline-block;
    box-sizing: border-box;
    padding: .625rem 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    font-family: CeraPRO;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    background-color: #2ce080;
    border: 2px solid #2ce080;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a {
    color: #2ce080;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
a, button, input, select, textarea {
    -webkit-tap-highlight-color: transparent;
}
a, mark {
    color: inherit;
}
a, a:hover {
    text-decoration: none;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.st0{
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#002f54
}
.header {
    font-family: CeraPRO;
    position: relative;
    z-index: 1000;
    padding: 1.5rem 0;
    display: block;
}
.header-content {
    display: flex;
    align-items: center;
}
.header__login-link {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: #03314b;
    padding-top:10px;
}
.header--homepage {
    background-color: #eff6f4;
}
.header__right {
    display: flex;
    align-items: right;
    padding-right:50px;
}
.header__left {
    display: flex;
    align-items: center;
}
.header__logo {
    display: inline-block;
    padding-top: 20px;
}
.header--no-signup-cta .header__signup-link, .header--sticky-clone .header__login-link, .header--sticky-clone .header__pricing-link {
    display: none;
}
.header__nav-item:not(:first-child) {
    margin-left: 1rem;
}
.header__link--no-underline {
    text-decoration: none;
}
.header__container {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homepage-hero-banner__headline {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.33;
    color: #8155fb;
    margin-bottom: 1.5rem;
}
.homepage-hero-banner {
    font-family: CeraPRO;
    color: #3a4649;
    position: relative;
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 19rem;
    background-color: #eff6f4;
}
.homepage-hero-banner__container {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
    position: relative;
    z-index: 1;
}
.homepage-hero-banner__image {
    display: block;
}
.homepage-hero-banner {
    font-family: CeraPRO;
    color: #3a4649;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 19rem;
    background-color: #eff6f4;
}
.homepage-hero-banner__copy {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #3a4649;
    max-width: 29rem;
    margin-bottom: 2rem;
}
.homepage-insights__title mark {
    border-bottom: .1em solid #e6fc88;
    box-shadow: inset 0 -0.4em 0 0 #e6fc88;
}
.homepage-hero-banner__cta {
    margin-bottom: 1rem;
}
.homepage-insights__container {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
}
.cta-trial-app{
    align-items:center;
}
.cta-trial-app__free-trial {
    display: inline-block;
    
}
.testimonials__container {
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 100%;
    position: relative;
}
.homepage-insights__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
}
.homepage-insights__item {
    width: 100%;
    box-sizing: border-box;
}
.homepage-insights__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.33;
    color: #042330;
    margin-bottom: 1rem;
}
.homepage-insights__title mark {
    border-bottom: .1em solid #e6fc88;
    box-shadow: inset 0 -0.4em 0 0 #e6fc88;
}@media (min-width: 416px)
{
.homepage-insights__item {
    padding-left: .75rem;
    padding-right: .75rem;
}}
@media (min-width: 767px)
{.homepage-insights__item {
    padding-left: .75rem;
    padding-right: .75rem;
}}
.testimonials__label {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.33;
}
.testimonials__item:nth-child(3) {
    display: block;
}
.testimonials__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}
.notice{
    background-color: purple;
    color:#fff;
    font-size: 2.25rem;
    font-weight: 700px;
    display:block;
    padding-left: 20px;
}
.notice-head{
    display:block;
    width:100%;

}
.notice-head:after {
    content: "";
    display: block;
    width: 6.25rem;
    height: .325rem;
    margin-top: 1.5rem;
    background: #2ce080;
}
.notice-content{
    display: block;
    margin-bottom: 2px;
}
@media (max-width: 646px){
.cta-trial-app__free-trial {
    display: flex;
    justify-content: center;
}
}
.cta-trial-app__free-trial {
    display: inline-block;
    justify-content: center;
}
.category{
    display:inline-block;
}
.category-headline{
    width:100%;
    color:#042330;
    font-size:2.25rem;
    font-weight:700;
    line-height: 1.33;
    display:block;

}.category-headline:after {
    content: "";
    display: block;
    width: 6.25rem;
    height: .325rem;
    margin-top: 1.5rem;
    background: #2ce080;
}
.category-description{
    color:#042330;
    font-size:27px;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.4;
}
.category-explorer{
    display: flex;
    margin-right:-16px;
    margin-bottom:32px;
    margin-left:-16px;
    overflow: hidden;
}
.category-slider{
    margin-top:8px;
    margin-bottom:8px;
    overflow: auto;
}
.category-slider-inside{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
}
.category-explorer__book-gallery-headline {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    color: #042330;
    margin-bottom: 16px;
    overflow: scroll;
}
.category-explorer__categories-row {
    display: inline-flex;
}
.category-explorer__categories-row:not(:last-child) {
    margin-bottom: .5rem;
}
.chip {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    color: #03314b;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}
.book-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;
}
.book-gallery__item {
    margin-bottom: 24px;
}
.book-gallery__item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    margin-bottom: 1rem;
}
figure {
    margin: 0;
}
.book-card-vue {
    width: 100%;
    max-width: 400px;
}

.book-card-vue__container {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    background: #fff;
}
.book-card-vue__image {
    position: absolute;
    top: 0;
    width: 376px;
    height: 244.39px;
    -o-object-fit: cover;
    object-fit: cover;
}
.book-card-vue__body {
    flex-grow: 1;
    width: 100%;
    padding: 24px 8px 8px;
    word-wrap: break-word;
}
.book-card-vue__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    border: 1px solid #bac8ce;
    border-top: 0;
}
.book-card-vue__headline {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.33;
    color: #042330;
    position: relative;
    width: 100%;
    max-height: 2.9925rem;
    margin-bottom: .5rem;
    overflow: hidden;
}
.book-card-vue__sub-headline {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.57;
    color: #6d787e;
    position: relative;
    width: 100%;
    max-height: 2.7475rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.book-card-vue__sub-headline:before {
    content: "\200C";
    position: absolute;
    top: 1.37375rem;
    right: 0;
    display: block;
    width: 30%;
    text-align: center;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 50%);
}
.book-card-vue__author {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #042330;
    position: absolute;
    bottom: 0;
    padding: 8px 16px;
    background-color: #e6fc88;
}
.book-card-vue__stats {
    font-size: .14px;
    font-weight: 400;
    line-height: 1.57;
    color: #6d787e;
    display: flex;
    flex-wrap: wrap;
    color: #3a4649;
}
.book-card-vue__stats-item {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: .5rem;
    white-space: nowrap;
}

.testimonials {
    padding: 1rem 0 2rem;
    color: #6d787e;
}
.testimonials__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}

.testimonials__item--nyt {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
}
.testimonials--dark {
    color: #fff;
    background-color: #03314b;
}
.testimonials {
    padding: 1rem 0 2rem;
    color: #6d787e;
}
.sticky-header--clone {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: .5rem 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(38,34,32,.1);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transition-property: -webkit-transform opacity;
    transition-property: -webkit-transform opacity;
    transition-property: transform opacity;
    transition-property: transform opacity,-webkit-transform opacity;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}