.loginpage{
    background-image:url("../images/bg.jpg");
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
}
.se{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 4.5rem;
    padding-right: 1.5rem;
    justify-content: flex-start;
    
}